footer{
    position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0;
    background: #297348;
    padding: 5px;
    color: white;
    font-size: 10px;
    z-index: 1;

    a{
        color: white;
        text-decoration: none;
        &:hover,
        &:focus{
            color: #cdcecf;
            text-decoration: none;
        }
    }

    img{
        width: 70px;
        margin-left: 5px;
    }

    svg{
        width: 20px;
        margin-left: 5px;
    }
}